force-app/main/default/flows/Flow_Community_User_Setup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_To_UserSObject</name>
        <label>Assign To UserSObject</label>
        <locationX>950</locationX>
        <locationY>184</locationY>
        <assignmentItems>
            <assignToReference>var_userSObject.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_foundProfileId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_need_a_permissionSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_the_User_Id</name>
        <label>Get the User Id</label>
        <locationX>1959</locationX>
        <locationY>905</locationY>
        <assignmentItems>
            <assignToReference>var_permissionSetAssignment.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_userSObject.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Permission_Set_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Permission_Set_Assignment</name>
        <label>Populate Permission Set Assignment</label>
        <locationX>1359</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>var_permissionSetAssignment.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_selectedCommunity.Permission_Set_Name_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_up_the_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_User_to_True</name>
        <label>Set Existing User to True</label>
        <locationX>448</locationX>
        <locationY>822</locationY>
        <assignmentItems>
            <assignToReference>var_existingUsersExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UserSObject_null</name>
        <label>Set UserSObject null</label>
        <locationX>402</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>var_userSObject.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Community_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_we_create_permission_set_assignment</name>
        <label>Do we create permission set assignment</label>
        <locationX>1434</locationX>
        <locationY>541</locationY>
        <defaultConnector>
            <targetReference>update_existing_user_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dont Create Permission Set</defaultConnectorLabel>
        <rules>
            <name>Permission_Set_assignment_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_permissionSetAssignment.PermissionSetId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_permissionSetAssignment.PermissionSetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_existing_permission_set_assignment</targetReference>
            </connector>
            <label>Permission Set assignment populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_need_a_permissionSet</name>
        <label>Do we need a permissionSet</label>
        <locationX>1089</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>Set_up_the_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PermissionSet not populated</defaultConnectorLabel>
        <rules>
            <name>PermissionSet_Populated_and_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_selectedCommunity.Permission_Set_Name_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_selectedCommunity.Permission_Set_Name_Id__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0PS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Permission_Set_Assignment</targetReference>
            </connector>
            <label>PermissionSet Populated and Id</label>
        </rules>
        <rules>
            <name>PermissionSet_Populated_and_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_selectedCommunity.Permission_Set_Name_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permission_Set_Id</targetReference>
            </connector>
            <label>PermissionSet Populated and Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_there_existing_users</name>
        <label>is there existing users</label>
        <locationX>133</locationX>
        <locationY>727</locationY>
        <defaultConnector>
            <targetReference>Set_UserSObject_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no existing users</defaultConnectorLabel>
        <rules>
            <name>existing_users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_userSObject.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_User_to_True</targetReference>
            </connector>
            <label>existing users</label>
        </rules>
    </decisions>
    <decisions>
        <name>PermissionSet_Exists</name>
        <label>PermissionSet Exists</label>
        <locationX>2117</locationX>
        <locationY>709</locationY>
        <defaultConnector>
            <targetReference>Get_the_User_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesnt Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_permissionSetAssignment.PermissionSetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_existingPermissionSetAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_existing_user_list</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProfileId_Check</name>
        <label>ProfileId Check</label>
        <locationX>572</locationX>
        <locationY>99</locationY>
        <defaultConnector>
            <targetReference>Get_Profile_By_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lookup ProfileId</defaultConnectorLabel>
        <rules>
            <name>Community_Setup_has_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_selectedCommunity.Community_Profile_Name_Id__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProfileById</targetReference>
            </connector>
            <label>Community Setup has Id</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>var_communitySetupOptions</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>Community_Setup__mdt</object>
        <outputAssignments>
            <assignToReference>var_selectedCommunity.Community_Profile_Name_Id__c</assignToReference>
            <field>Community_Profile_Name_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_selectedCommunity.MasterLabel</assignToReference>
            <field>MasterLabel</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_selectedCommunity.Permission_Set_Name_Id__c</assignToReference>
            <field>Permission_Set_Name_Id__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Flow_Community_User_Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Community User Provisioning</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Permission_Set_Assignment</name>
        <label>Create Permission Set Assignment</label>
        <locationX>1589</locationX>
        <locationY>908</locationY>
        <connector>
            <targetReference>update_existing_user_list</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_error_screen</targetReference>
        </faultConnector>
        <inputReference>var_permissionSetAssignment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_existing_permission_set_assignment</name>
        <label>get existing permission set assignment</label>
        <locationX>1952</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PermissionSet_Exists</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_userSObject.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_permissionSetAssignment.PermissionSetId</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>var_existingPermissionSetAssignment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Existing_Users</name>
        <label>get Existing Users</label>
        <locationX>316</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_there_existing_users</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>User</object>
        <outputReference>var_userSObject</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Id</name>
        <label>Get Permission Set Id</label>
        <locationX>1182</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_up_the_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_error_screen</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_selectedCommunity.Permission_Set_Name_Id__c</elementReference>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>var_permissionSetAssignment.PermissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_By_Name</name>
        <label>Get Profile By Name</label>
        <locationX>802</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_UserSObject</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_error_screen</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_selectedCommunity.Community_Profile_Name_Id__c</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>var_foundProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_foundProfileName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetProfileById</name>
        <label>GetProfileById</label>
        <locationX>804</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_UserSObject</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_error_screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_selectedCommunity.Community_Profile_Name_Id__c</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>var_foundProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_foundProfileName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>update_existing_user_list</name>
        <label>update existing user list</label>
        <locationX>1145</locationX>
        <locationY>822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Created</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>var_listExistingUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <screens>
        <name>Flow_error_screen</name>
        <label>Flow error screen</label>
        <locationX>903</locationX>
        <locationY>455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>flowscreenError</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>flowscreenError</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>flowerrormessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Error Message: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: courier;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Community_Screen</name>
        <label>Select Community Screen</label>
        <locationX>546</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ProfileId_Check</targetReference>
        </connector>
        <fields>
            <name>Select_a_Community</name>
            <choiceReferences>var_communitySetupOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Community</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_up_the_User</name>
        <label>Set up the User</label>
        <locationX>2000</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_we_create_permission_set_assignment</targetReference>
        </connector>
        <fields>
            <name>Community_User_Create_Screen</name>
            <extensionName>tom_woods:FS_Community_User_Setup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ProfileName</name>
                <value>
                    <elementReference>var_foundProfileName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>var_userSObject.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>profileId</name>
                <value>
                    <elementReference>var_userSObject.ProfileId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_userSObject.Id</assignToReference>
                <name>userId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Created</name>
        <label>User Created</label>
        <locationX>823</locationX>
        <locationY>850</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Community_Screen</targetReference>
        </connector>
        <fields>
            <name>userCreatedText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;User has successfully been created &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>View_User_Screen</name>
            <extensionName>tom_woods:FS_Community_View_User</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>var_userSObject.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>get_Existing_Users</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_communitySetupRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Community_Setup__mdt</objectType>
    </variables>
    <variables>
        <name>var_existingPermissionSetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>var_existingUsersExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_foundProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_foundProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_listExistingUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Holds the permissionsetAssignment to be created</description>
        <name>var_permissionSetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>var_profileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_selectedCommunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Community_Setup__mdt</objectType>
    </variables>
    <variables>
        <name>var_selectedCommunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_tempAttribute</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Community_Setup__mdt</objectType>
    </variables>
    <variables>
        <name>var_userSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
